:root {
    // font Family
    --font-gothamBlack: 'GothamBlack';
    --font-gothamLight: 'GothamLight';
    --font-gothamBold: 'GothamBold';

    // Color Variable
    --color-theme:   #d0112b;
    --color-black:   #000000;
    --color-white: #ffffff;
}
