.product-carousel {
    margin: 90px 0;

    .nav-tabs {
        margin-bottom: 40px;
    }
    .nav-link {
        border: 1px solid transparent;
        margin: 0;
        border-radius: 0;
        color: var(--color-black);
        font-size: 1rem;
        padding: 0.5rem 2rem;
        min-width: 140px;
        transition: all 0.3s;

        &.active {
            border: 1px solid var(--color-black);
            font-family: var(--font-gothamBold);
            color: var(--color-theme);
        }

        &:hover {
            border-color: var(--color-black);
        }
    }
    .nav-item+.nav-item {
        margin-left: 15px;
    }

    .product-item {
        .thumb {
            background-color: #f2f2f2;
        }

        .description {
            padding-top: 1rem;
            h5 {
                font-family: var(--font-gothamBold);
                font-size: 1.2rem;

                a {
                    color: var(--color-black);
                }
            }
            p {
                margin: 1rem 0;
                line-height: 1.4rem;
                font-size: 1rem;
            }
            .price {
                color: var(--color-theme);
                font-size: 1.1rem;
            }
            .cart-btn {
                display: block;
                padding: .8rem 1rem;
                border: 1px solid var(--color-black);
                color: #4d4d4d;
                text-align: center;
                font-family: var(--font-gothamBold);
                margin-top: 1rem;
            }
        }
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110%;
        display: flex;
        justify-content: space-between;
        z-index: -1;


        button {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: var(--color-white) !important;
            text-align: center;
            font-size: 26px !important;
            box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: 0.3);
            position: relative;

            span {
                position: absolute;
                line-height: normal;
                top: 4px;
                left: 41%;
                height: 0;
                font-weight: 600;
                opacity: 0.8;
                color: #333333;
            }
        }
    }
}